body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  padding: 0;
  margin: 0;
  background: url("../assets/img/home/html_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}