.behaviors-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 62px;
    background: #f5f5f9;
    .ant-back-top {
        text-align: center;
        border: 1px solid #aaa;
        border-radius: 5px;
        font-size: 22px;
        padding-top: 4px;
        padding-left: 0;
    }
    .behaviors-con {
        width: 60%;
        margin: auto;
        margin-top: 150px;
        .search-btn {
            float: left;
            text-align: center;
            width: 100%;
            height: 38px;
            line-height: 38px;
        }
        .ant-input {
            box-shadow: none;
            border-color: #d9d9d9;
        }
        .ant-input-group-addon {
            cursor: pointer;
            width: 100px;
        }
        .time-scope {
            float: left;
            width: 150px;
        }
        .demo-des {
            display: block;
            text-indent: 12px;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #999;
        }
        .click-hand {
            position: absolute;
            margin-left: 111px;
            margin-top: 67px;
            z-index: 10;
            font-size: 30px;
            opacity: 0;
            animation: click_hand_animate 8s linear 1;
            -webkit-animation: click_hand_animate 8s linear 1;
            -moz-animation: click_hand_animate 8s linear 1;
            -o-animation: click_hand_animate 8s linear 1;
        }
        @keyframes click_hand_animate{
            0%{
                opacity: 0;
                margin-left: 111px;
                margin-top: 67px;
            }
            10%{
                opacity: 1;
                margin-left: 111px;
                margin-top: 67px;
            }
            20% {
                opacity: 1;
                margin-left: 85px;
                margin-top: 22px;
            }
            30% {
                opacity: 0;
                margin-left: 85px;
                margin-top: 22px;
            }
            40% {
                opacity: 0;
                margin-left: 111px;
                margin-top: 67px;
            }
            50% {
                opacity: 1;
                margin-left: 85px;
                margin-top: 22px;
            }
            60% {
                opacity: 0;
                margin-left: 85px;
                margin-top: 22px;
            }
            100% {
                opacity: 0;
                margin-left: 111px;
                margin-top: 67px;
            }
        }
        .sea-example {
            float: right;
            margin-right: -130px;
            height: 40px;
            img {
                width: 17px;
            }
        }
    }
    .behaviors-con-s {
        margin-top: 10px;
        position: absolute;
        margin-left: 20%;
    }
    .preview-box {
        position: fixed;
        width: 20%;
        right: 10px;
        top: 320px;
        height: 1000px;
        border: 0;
    }
    .footprint-container {
        float: left;
        width: 58%;
        margin-left: 2%;
        margin-top: 80px;
        padding-right: 5px;
        .footprint-des {
            display: block;
        }
        .footprint-time {
            display: block;
            font-size: 12px;
            color: #999;
        }
    }
    .userInfo-container {
        float: left;
        width: 40%;
        margin-top: 80px;
        .ant-card-bordered {
            margin-bottom: 5px;
        }
        .chart-box {
            width: 100%;
            height: 300px;
        }
        .chart-loading {
            width: 100%;
            height: 300px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .ant-card {
        background: rgba(255, 255, 255, 0.8);
    }
}
.ant-message {
    z-index: 1012;
}