.header-container {
  width: 100%;
  height: 62px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1011;
  .message-box {
    position: fixed;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    font-size: 36px;
    color: #eef0ee;
    animation: message_box_animate 10s linear infinite;
    -webkit-animation: message_box_animate 10s linear infinite;
    -moz-animation: message_box_animate 10s linear infinite;
    -o-animation: message_box_animate 10s linear infinite;
  }
  @keyframes message_box_animate{
    0%{
      transform:rotateY(0deg) skew(0deg) scale(1);
      -ms-transform:rotateY(0deg) skew(0deg) scale(1);
      -moz-transform:rotateY(0deg) skew(0deg) scale(1);
      -webkit-transform:rotateY(0deg) skew(0deg) scale(1);
      -o-transform:rotateY(0deg) skew(0deg) scale(1);
    }
    15%{
      transform:rotateY(180deg) skew(0deg) scale(1);
      -ms-transform:rotateY(180deg) skew(0deg) scale(1);
      -moz-transform:rotateY(180deg) skew(0deg) scale(1);
      -webkit-transform:rotateY(180deg) skew(0deg) scale(1);
      -o-transform:rotateY(180deg) skew(0deg) scale(1);
    }
    30%{
      transform:rotateY(0deg) skew(0deg) scale(1);
      -ms-transform:rotateY(0deg) skew(0deg) scale(1);
      -moz-transform:rotateY(0deg) skew(0deg) scale(1);
      -webkit-transform:rotateY(0deg) skew(0deg) scale(1);
      -o-transform:rotateY(0deg) skew(0deg) scale(1);
    }
    60% {
      bottom: 20px;
    }
    61% {
      bottom: 30px;
    }
    62% {
      bottom: 20px;
    }
    63% {
      bottom: 30px;
    }
    64% {
      bottom: 20px;
    }
    80% {
      bottom: 20px;
    }
    81% {
      bottom: 30px;
    }
    82% {
      bottom: 20px;
    }
    83% {
      bottom: 30px;
    }
    84% {
      bottom: 20px;
    }
    100% {
      bottom: 20px;
    }
  }
  .home-icon {
    color: #5d5cb6;
    font-size: 30px;
    cursor: pointer;
  }
  .sub-header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #493e54;
    border-bottom: 0;
    position: relative;
    margin: 0 0 10px;
    line-height: 1;
    font-size: 16px;
    min-height: 62px;
    box-shadow: 0 2px 0 rgba(37, 11, 54,.04);
    .project-select-box {
      width: 100%;
      padding-left: 20px;
      .ant-dropdown-link {
        color: #2f2936;
      }
    }
    .search-icon {
      position: absolute;
      margin-top: -23px;
      margin-left: 155px;
      z-index: 2;
    }
    .user-type-switch {
      margin-left: 20px;
    }
    .user-type-text {
      font-size: 12px;
      position: absolute;
      margin-top: 15px;
      margin-left: 2px;
      color: #8e8f8f;
    }
    .user-type-active {
      color: #74d04c;
      margin-left: -2px;
    }
    .github-container {
      width: 50px;
      height: 32px;
      background: url("~Images/common/github5.png");
      background-size: 100% 100%;
      background-position: center;
      cursor: pointer;
      animation: github_container_animate 10s linear infinite;
      -webkit-animation: github_container_animate 10s linear infinite;
      -moz-animation: github_container_animate 10s linear infinite;
      -o-animation: github_container_animate 10s linear infinite;
    }
    @keyframes github_container_animate{
      0%{
        background: url("~Images/common/github5.png");
        background-size: 100% 100%;
        background-position: center;
        transform:rotateY(0deg) skew(0deg) scale(1);
        -ms-transform:rotateY(0deg) skew(0deg) scale(1);
        -moz-transform:rotateY(0deg) skew(0deg) scale(1);
        -webkit-transform:rotateY(0deg) skew(0deg) scale(1);
        -o-transform:rotateY(0deg) skew(0deg) scale(1);
      }
      15%{
        background: url("~Images/common/github6.png");
        background-size: 100% 100%;
        background-position: center;
        transform:rotateY(180deg) skew(0deg) scale(1);
        -ms-transform:rotateY(180deg) skew(0deg) scale(1);
        -moz-transform:rotateY(180deg) skew(0deg) scale(1);
        -webkit-transform:rotateY(180deg) skew(0deg) scale(1);
        -o-transform:rotateY(180deg) skew(0deg) scale(1);
      }
      50% {
        background: url("~Images/common/github6.png");
        background-size: 100% 100%;
        background-position: center;
        transform:rotateY(180deg) skew(0deg) scale(1);
        -ms-transform:rotateY(180deg) skew(0deg) scale(1);
        -moz-transform:rotateY(180deg) skew(0deg) scale(1);
        -webkit-transform:rotateY(180deg) skew(0deg) scale(1);
        -o-transform:rotateY(180deg) skew(0deg) scale(1);
      }
      65% {
        background: url("~Images/common/github5.png");
        background-size: 100% 100%;
        background-position: center;
        transform:rotateY(0deg) skew(0deg) scale(1);
        -ms-transform:rotateY(0deg) skew(0deg) scale(1);
        -moz-transform:rotateY(0deg) skew(0deg) scale(1);
        -webkit-transform:rotateY(0deg) skew(0deg) scale(1);
        -o-transform:rotateY(0deg) skew(0deg) scale(1);
      }
      100% {
        background: url("~Images/common/github5.png");
        background-size: 100% 100%;
        background-position: center;
        transform:rotateY(0deg) skew(0deg) scale(1);
        -ms-transform:rotateY(0deg) skew(0deg) scale(1);
        -moz-transform:rotateY(0deg) skew(0deg) scale(1);
        -webkit-transform:rotateY(0deg) skew(0deg) scale(1);
        -o-transform:rotateY(0deg) skew(0deg) scale(1);
      }
    }

    .git-blank {
      position: absolute;
      width: 32px;
      height: 32px;
      background: #fff;
      cursor: pointer;
      z-index: 2;
    }
    .git-btn2 {
      width: 32px;
      height: 32px;
      position: absolute;
      font-size: 32px;
      cursor: pointer;
      z-index: 1;
    }
    .menu-right {
      width: 150px;
      text-align: center;
      cursor: pointer;
      .ant-dropdown-link {
        color: #2f2936;
      }
      .new-flag {
        position: absolute;
        font-size: 20px;
        margin-top: -20px;
        margin-left: -20px;
      }
      .not {
        position: absolute;
        background: #aaa;
        color: #fff;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 4px;
        margin-top: -14px;
        margin-left: -20px;
        transform: scale(0.7);
      }
    }
  }
  .github-box {
    font-size: 32px;
    color: #727082;
  }

  .bokeyuan-box {
    img {
      width: 26px;
    }
    &:hover {
      color: #1890ff;
    }
  }
  .ant-switch-checked {
    background-color: #74d04c;
  }
  .ant-select-auto-complete.ant-select .ant-input {
    border-width: 0;
    background-color: #d5d5d5;
    box-shadow: none;
  }
  .ant-select-auto-complete.ant-select .ant-input:hover {
    border: 0;
    box-shadow: none;
  }
  .ant-btn-primary {
    color: #fff;
    background-color: #74d04c;
    border-color: #74d04c;
    margin-left: 65px;
  }
}

.code-icon, .blog-icon {
  width: 16px!important;
  margin-right: 10px!important;
}
.ui-progress-bar {
  display: none!important;
}