.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: url("../../assets/img/home/spring2.jpeg");
    background-size: cover;
    background-position: center;
    .header-container {
        background: rgba(255, 255, 255, 0.8);
    }
    @keyframes shadow
    {
        from {box-shadow: 0px 0px 20px 0px #fff;}
        to {box-shadow: 0px 0px 20px 6px #fff;}
    }

    @-moz-keyframes shadow /* Firefox */
    {
        from {box-shadow: 0px 0px 20px 0px #fff;}
        to {box-shadow: 0px 0px 20px 6px #fff;}
    }

    @-webkit-keyframes shadow /* Safari 和 Chrome */
    {
        from {box-shadow: 0px 0px 20px 0px #fff;}
        to {box-shadow: 0px 0px 20px 6px #fff;}
    }

    @-o-keyframes shadow /* Opera */
    {
        from {box-shadow: 0px 0px 20px 0px #fff;}
        to {box-shadow: 0px 0px 20px 6px #fff;}
    }
    .snow-canvas {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .home-mask {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        .git-btn {
            font-size: 24px;
            color: red;
            box-shadow: 0px 0px 20px 0px #fff;
            animation: shadow 1s linear 0s infinite alternate;
            /* Firefox: */
            -moz-animation: shadow 1s linear 0s infinite alternate;
            /* Safari 和 Chrome: */
            -webkit-animation: shadow 1s linear 0s infinite alternate;
            /* Opera: */
            -o-animation: shadow 1s linear 0s infinite alternate;
        }
        .home-title {
            display: block;
            font-size: 60px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding-top: 5%;
        }
    }
    .home-content {
        margin-top: 62px;
        .left {
            width: 70%;
            margin-left: 15%;
            padding-top: 10%;
            float: left;
            .ant-tabs-line {
                background: #fff;
            }
        }
        .right {
            display: none;
            width: 40%;
            float: left;
            .info-icon {
                width: 20px;
                margin-right: 5px;
            }
        }
        .ant-card-head {
            min-height: 37px;
        }
        .ant-card-head-title {
            color: #666;
            padding: 8px 0;
            font-size: 14px;
        }
        .ant-card-extra {
            padding: 8px 0;
            font-size: 14px;
        }
        .custom-con {
            padding: 100px 0;
        }
        .ant-card {
            background: rgba(255, 255, 255, 0.9);
            cursor: pointer;
            margin: 0.5%;
            color: #333;
            font-size: 16px;
        }
        .chart-loading {
            width: 100%;
            height: 300px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active {
        font-weight: 600;
    }
}
.ant-notification-notice-description .update-box {
    span {
        color: #989797;
    }
}